---
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
PointerAlignment: Left
